<div class="dragao">
    <h2 class="dragao__titulo">Lista de Dragões</h2>

    <button class="dragao__botao" (click)="cadastroDragao()">➕ Criar Dragão</button>
    <table class="dragao__tabela">
      <thead>
        <tr>
          <th class="dragao__tabela-head">Data de Criação</th>
          <th class="dragao__tabela-head">Nome</th>
          <th class="dragao__tabela-head">Tipo</th>
          <th  class="dragao__acoes">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dragao of dragoes">

          <td class="dragao__texto">{{ dragao.createdAt | date:'dd/MM/yyyy' }}</td>
  
          <td class="dragao__coluna">
            <input class="dragao__input" *ngIf="edicao[dragao.id]" [(ngModel)]="dragao.name" />
            <span class="dragao__texto" *ngIf="!edicao[dragao.id]">{{ dragao.name }}</span>
          </td>
  
          <td class="dragao__coluna">
            <input class="dragao__input" *ngIf="edicao[dragao.id]" [(ngModel)]="dragao.type" />
            <span class="dragao__texto" *ngIf="!edicao[dragao.id]">{{ dragao.type }}</span>
          </td> 
           
          <td>
            <button *ngIf="!edicao[dragao.id]" class="dragao__botao" (click)="habilitaEditar(dragao.id)">✏️ Editar</button>
            <button *ngIf="edicao[dragao.id]" (click)="salvarDragao(dragao)">💾 Salvar</button>
            <button class="dragao__botao" (click)="visualizarDragao(dragao.id)"> 🔎 Detalhes</button>
            <button class="dragao__botao" (click)="excluirDragao(dragao.id)">🗑️ Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  