.dragao {
    max-width: 800px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &__titulo {
        text-align: center;
        color: var(--cor-texto);
    }

    &__texto{
        color: var(--cor-texto);
    }

    &__tabela {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    &__input {
        width: 100%;
        max-width: 125px;
        padding: 5px;
        border: 1px solid var(--cor-borda);
        border-radius: 4px;
    }

    &__botao:hover {
        opacity: 0.8;
    }

    &__botao {
        background: var(--cor-botao);
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 2px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }

    &__coluna{
        width: 160px;
    }

    &__acoes{
        text-align: center !important;
    }

    th, td {
        padding: 10px;
        border-bottom: 1px solid var(--cor-borda);
        text-align: left;
    }

    th {
        background: var(--cor-fundo);
        color: var(--cor-texto);
    }
}



@media (max-width: 600px) {
    .dragao {
        padding: 10px;
        height: 100vh;
        overflow: scroll;

        &__tabela {
            font-size: 14px;
        }

        &__botao {
            font-size: 12px;
            padding: 5px;
        }

        th, td {
            padding: 8px;
        }
    }    
}
